* {
    box-sizing: border-box;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

body {
    // display: flex;
    // flex-direction: column;
    margin: 0;
    padding: 0;
}


p {
  line-height: 150%;
}


a {
  text-decoration: none;
}

article {
  margin-bottom: 3rem;
}




