.experience-sidebar, %experience-sidebar {
    grid-area: sidebar;
    text-align: center;   
}

.experience-sidebar img {
    padding-top: 2rem;
    width: 8rem;
    
}

.experience-content, %experience-content {
    grid-area: content;
}

.experience-header, %experience-header {
    grid-area: header;
}

.experience-wrapper, %experience-wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 10rem auto;
    grid-template-areas:
        "sidebar header"
        "sidebar content"
}