.experience-sidebar, %experience-sidebar {
    grid-area: sidebar;
    text-align: center;   


    img {
        padding-top: 2rem;
        width: 8rem;
    
}

}

.experience-content, %experience-content {
    grid-area: content;
}

.experience-header, %experience-header {
    grid-area: header;
    margin-bottom: 0.6rem;

    p {
        font-weight: $weight-bold;
        color: grayscale($color: $secondary-bg-color);

    }
}

.experience-wrapper, %experience-wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 10rem auto;
    grid-template-areas:
        "sidebar header"
        "sidebar content";
    margin-bottom: 1rem;


    p {
        margin: 0 0 0.2rem 0;
        padding: 0;
        
    }

    h3 {
        margin-bottom: 0.6rem;
        padding: 0; 
    }

   
}
