.footer {
    background-color: black;
    color: white;
    height: 8rem;

        .social-network-links {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

        img {
            width: 4rem;

            margin: 1rem;
        }

        img:hover {
            opacity: 0.7;
        }
    }
}
