.header {
    

    display: flex;
    background-color: $secondary-bg-color;
    color: $secondary-color;
    height: $header-height;

    justify-content: space-between;
    align-items: center;
    
}

.header .icon-email {
    width: 3rem;
}

.header .icon-email:hover {
    opacity: 0.7;
}


