
.main-picture {
    background-size: cover;
    background-repeat: no-repeat;
}

.photo-1 {      // código
    background-image: url('../images/main-pictures-01.webp'); 
    background-position: 0% 50%;
}

.photo-2 {      // lagar
    background-image: url('../images/main-pictures-02.webp');
    background-position: 0% 0%; 
}

.photo-3 {      // burro
    background-image: url('../images/main-pictures-03.webp'); 
    background-position: 0% 50%;
}

.photo-4 {      // electricidade
    background-image: url('../images/main-pictures-04.webp'); 
    background-position: 0% 50%;
}

.photo-5 {      // balcom
    background-image: url('../images/main-pictures-05.webp'); 
    background-position: 0% 50%;
}

.photo-6 {      // scada
    background-image: url('../images/main-pictures-06.webp'); 
    background-position: 0% 50%;
}

.photo-7 {      // troleibus
    background-image: url('../images/main-pictures-07.webp'); 
    background-position: 0% 50%;
}

.photo-8 {      // pilro bule-bule
    background-image: url('../images/main-pictures-08.webp'); 
    background-position: 0% 25%;
}